[Unit]
Description=A normal polkit agent based on gnome
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
	
[Service]
ExecStart=/usr/libexec/polkit-gnome-authentication-agent-1 &
Slice=session.slice
TimeoutStopSec=5sec
Restart=on-failure

[Install]
WantedBy=graphical-session.target
