[Install]
WantedBy=graphical-session.target

[Service]
Environment=PATH=/usr/bin
ExecStart=/usr/bin/swayidle -w timeout 150 'brightnessctl -s set 10' resume 'brightnessctl -r' timeout 300 /usr/bin/swaylock timeout 330 '/usr/bin/niri msg action power-off-monitors' resume '/usr/bin/niri msg action power-on-monitors&& brightnessctl -r' timeout 1800 '/usr/bin/systemctl suspend' after-resume '/usr/bin/niri msg action power-on-monitors' before-sleep '/usr/bin/niri msg action power-off-monitors;/usr/bin/swaylock' lock '/usr/bin/niri msg action power-off-monitors;/usr/bin/swaylock' unlock '/usr/bin/niri msg action power-on-monitors'
Restart=always
Type=simple

[Unit]
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target
