[alias]
	ci = "commit"
	co = "checkout"
	s = "status"
	ss = "status --short --branch"

[core]
	pager = "delta"

[delta]
	dark = true
	hyperlinks = true
	line-numbers = true
	navigate = true
	side-by-side = true

[interactive]
	diffFilter = "delta --color-only"

[user]
	email = {{ .email | quote }}
	name = "Rachit Kumar Verma"
